{lib_dirs, ["deps/amqp_client/ebin","deps/rabbit_common/ebin"]}.
{erl_opts, [{i, "deps/amqp_client/include"}]}.
{deps, [
 {amqp_client, ".*",
 {git, "git://github.com/jbrisbin/amqp_client.git", {branch,"master"}}},
 {mochiweb, "2.7.*",
 {git, "git://github.com/mochi/mochiweb.git", {branch,"master"}}}
]}.